body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.superhero-card {
  width: 300px;
  margin: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  float: left;
  border-radius: 1rem;
}

.hero-image {
  max-height: 20rem;
  object-fit: cover;
}

.winner {
  border: 0.3rem solid greenyellow;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.loser {
  border: 0.3rem solid red;
}

.tied {
  border: 0.3rem solid yellow;
}

.header img {
  width: 100%;
  height: auto;
}

.info {
  padding: 15px;
}

h2 {
  margin-top: 0;
}

.stats {
  margin-top: 10px;
}

.stat {
  margin-bottom: 5px;
  position: relative;
}

.bar {
  height: 5px;
  background-color: #b4b7b9;
  margin: 5px 0;
  border-radius: 3px;
  width: 0;
  transition: width 0.5s;
}

@media (max-width: 600px) {
  .superhero-card {
    width: 80%;
  }
}
